"""
Django settings for homemade project.

For more information on this file, see
https://docs.djangoproject.com/en/1.6/topics/settings/

For the full list of settings and their values, see
https://docs.djangoproject.com/en/1.6/ref/settings/
"""

# Build paths inside the project like this: os.path.join(BASE_DIR, ...)
import os
import datetime
import config

BASE_DIR = os.path.dirname(os.path.dirname(__file__))

# Quick-start development settings - unsuitable for production
# See https://docs.djangoproject.com/en/1.6/howto/deployment/checklist/

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = '$ql+(b@!#9p8x_qdkiz7_9z(%(lzhpa=$8knnbpi4wyu=lr59i'

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = config.DEBUG
TEMPLATE_DEBUG = config.TEMPLATE_DEBUG
DEVELOPMENT = config.DEVELOPMENT

ALLOWED_HOSTS = []

ADMINS = (
    ('Lu Chen', 'miracleluchen@gmail.com'),
)
MANAGERS = ADMINS

# Application definition

INSTALLED_APPS = (
    'django.contrib.admin',
    'django.contrib.auth',
    'django.contrib.contenttypes',
    'django.contrib.sessions',
    'django.contrib.messages',
    'django.contrib.staticfiles',
    'api',
    'corsheaders',
)

MIDDLEWARE_CLASSES = (
    'django.contrib.sessions.middleware.SessionMiddleware',
    'django.middleware.locale.LocaleMiddleware',
    'corsheaders.middleware.CorsMiddleware',
    'django.middleware.common.CommonMiddleware',
    # 'django.middleware.csrf.CsrfViewMiddleware',
    'django.contrib.auth.middleware.AuthenticationMiddleware',
    'django.contrib.messages.middleware.MessageMiddleware',
    'django.middleware.clickjacking.XFrameOptionsMiddleware',
)

ROOT_URLCONF = 'homemade.urls'

WSGI_APPLICATION = 'homemade.wsgi.application'


# Database
# https://docs.djangoproject.com/en/1.6/ref/settings/#databases

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': 'homemade',
        'USER': 'root',
        'PASSWORD': '123456',
        'HOST': '192.168.199.128',
        'PORT': '3306',
    },
    'slave': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': 'homemade',
        'USER': 'root',
        'PASSWORD': '123456',
        'HOST': '192.168.199.128',
        'PORT': '3306',
    },
}

# Internationalization
# https://docs.djangoproject.com/en/1.6/topics/i18n/

LANGUAGE_CODE = 'en-us'

TIME_ZONE = 'Asia/Singapore'

USE_I18N = True
USE_L10N = True
USE_TZ = True

COUNTRY = 'SG'

# Static files (CSS, JavaScript, Images)
# https://docs.djangoproject.com/en/1.6/howto/static-files/

STATIC_URL = '/static/'

DOMAIN_NAME = 'http://192.168.199.128/'
RESOURCE_ROOT = '/var/www/homemade.resources/'
FOOD_PIC_PATH = 'images/food'
USER_PIC_PATH = 'images/user'
FOOD_PIC_DIR_PATH = '%s%s' % (RESOURCE_ROOT, FOOD_PIC_PATH)
USER_PIC_DIR_PATH = '%s%s' % (RESOURCE_ROOT, USER_PIC_PATH)
FOOD_PIC_DIR_URL = '%s%s' % (DOMAIN_NAME, FOOD_PIC_PATH)
USER_PIC_DIR_URL = '%s%s' % (DOMAIN_NAME, USER_PIC_PATH)

SINGLE_PAGE_NUM = 10

CORS_ORIGIN_ALLOW_ALL = True
CORS_ALLOW_CREDENTIALS = True

DEBUG_USER='miracleluchen@gmail.com'

LOGGING = {
    'version': 1,
    'disable_existing_loggers': False,

    'formatters': {
        'standard': {
            'format': '%(asctime)s|%(levelname)s|%(process)d:%(thread)d|%(filename)s:%(lineno)d|%(module)s.%(funcName)s|%(message)s',
        },
        'short' : {
            'format': '%(asctime)s|%(levelname)s|%(message)s',
        }
    },
    'handlers': {
        'file': {
            'level': 'INFO',
            'class': 'logging.FileHandler',
            'filename': '/var/log/homemade/main.log.%s' % (datetime.datetime.now().date(),),
            'formatter':'standard',
        },
    },
    'loggers': {
        'main': {
            'handlers': ['file'],
            'level': 'INFO',
            'propagate': True,
        },
    },
}
